@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action ="/api/WebApiFileUpload" method="post"
      enctype="multipart/form-data">
    <input type="file" name="files" value=""/>
    <input type="submit" name="btnUpload" value="업로드"/>
</form>